main {
  min-height: calc(100vh - 285px);
  margin-top: 150px;
  margin-bottom: 75px;
  section {
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 0 20px;

    &.sec-1 {
      flex-direction: column;
    }
  }
}

.portfolio {
  .title {
    font-family: "MyFont";
    font-size: 26px;
  }
  .port {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    span {
      font-family: "MyFont-3";
      font-size: 24px;
    }
    a {
      font-family: "MyFont-5";
      font-size: 20px;
    }
  }
}
