.font-brand {
  font-family: "MyFont-3";
  font-size: 36px;
}

// .mybtn {
//   font-family: "MyFont-4";
//   font-size: 14px;
// }

.lang {
  font-size: 36px;

  .EN {
    &:hover {
      fill: rgb(141, 0, 235);
      transition: fill 0.5s;
    }
  }
  .FA {
    &:hover {
      fill: #7800c8;
      transition: fill 0.5s;
    }
  }
}
