.navbar-nav {
  .icon {
    svg {
      &:hover {
        transform: rotate(360deg);
        transition: transform 0.75s;
      }
    }
  }

  .LinkedIn {
    svg {
      &:hover {
        transform: rotate(-360deg);
        transition: transform 0.75s;
      }
    }
  }
}
