.navbar-text {
    font-size: 16px;
}


.Btt-Icon {
    background-image: url("../../utils/images/Back-To-Top.svg");
    background-repeat: no-repeat;
    width: 100px;
    height: 50px;
    top:-50px;
}