.navbar-text {
    font-size: 16px;
}


.Btt-Icon {
    background-image: url("../../utils/images/Back-To-Top.svg");
    background-repeat: no-repeat;
    width: 100px;
    height: 50px;
    top:-50px;
}

.vr {
    height: 29px;
    width: 3px;
    background-color: #333333;
    opacity: 1;
    margin-left: 1px;
}

.dot {
    width: 5px;
    height: 5px;
    background-color: #333333;
    border-radius: 50%;
}