body {
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "MyFont-1";
  src: local("Proxima Nova Alt Light"),
    url("./fonts/Proxima-Nova-Alt/ProximaNovaAlt-Light.otf") format("opentype");
}

@font-face {
  font-family: "MyFont-2";
  src: local("Proxima Nova Regular"),
    url("./fonts/Proxima-Nova/ProximaNova-Regular.otf") format("opentype");
}

@font-face {
  font-family: "MyFont-3";
  src: local("Proxima Nova Bold"),
    url("./fonts/Proxima-Nova/ProximaNova-Bold.otf") format("opentype");
}
