body {
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "MyFont";
  src: local("Proxima Nova Alt Light"),
  url("./fonts/Proxima-Nova-Alt/Proxima Nova Alt Light.otf") format("opentype");
  }
  

